---
swagger: "2.0"
info:
  description: "Сервер для публикации профилактических работ"
  version: "1.0.0"
  title: "Maintenance"
  contact:
    email: "maria.prudyvus@curs.ru"
host: "notify.curs.ru"
basePath: "/"
tags:
- name: "banner"
  description: "Баннеры"
schemes:
- "http"
paths:
  /notification:
    get:
      tags:
      - "banner"
      summary: "Получить список активных баннеров"
      description: ""
      operationId: "get_banner_list"
      produces:
      - "application/json"
      parameters:
      - name: "date_start"
        in: "query"
        description: "Дата начала работ"
        required: false
        type: "string"
        format: "date-time"
      - name: "is_active"
        in: "query"
        description: "Актуальный баннер"
        required: false
        type: "boolean"
      - name: "date_finish"
        in: "query"
        description: "Дата окончания работ"
        required: false
        type: "string"
        format: "date-time"
      - name: "app_codes"
        in: "query"
        description: "Системы на которые вешается баннер"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Banner"
      security:
      - Bearer: []
      x-swagger-router-controller: "swagger_server.controllers.banner_controller"
    post:
      tags:
      - "banner"
      summary: "Зарегистрировать новые профилактические работы"
      description: ""
      operationId: "add_banner"
      consumes:
      - "application/json"
      - "multipart/form-data"
      parameters:
      - in: "body"
        name: "banner"
        description: "Добавляемый баннер"
        required: true
        schema:
          $ref: "#/definitions/Banner"
      responses:
        200:
          description: "Баннер обновлен"
        201:
          description: "Баннер успешно добавлен"
        403:
          description: "Необходима авторизация"
      security:
      - Bearer: []
      x-swagger-router-controller: "swagger_server.controllers.banner_controller"
    delete:
      tags:
      - "banner"
      summary: "Удалить список баннеров, удовлетворяющих списку"
      operationId: "delete_banners"
      parameters:
      - name: "date_start"
        in: "query"
        description: "Дата начала работ"
        required: true
        type: "string"
      - name: "app_codes"
        in: "query"
        description: "Системы на которые вешается баннер"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: ""
        404:
          description: ""
      x-swagger-router-controller: "swagger_server.controllers.banner_controller"
  /notification/{app_code}:
    get:
      tags:
      - "banner"
      summary: "Получить информацию о текущем активном баннере"
      operationId: "get_banner_info"
      produces:
      - "application/json"
      parameters:
      - name: "app_code"
        in: "path"
        description: "Идентификатор системы"
        required: true
        type: "string"
      responses:
        200:
          description: "Текст сообщения для баннера"
          schema:
            type: "string"
      x-swagger-router-controller: "swagger_server.controllers.banner_controller"
securityDefinitions:
  Bearer:
    type: "apiKey"
    name: "Authorization"
    in: "header"
definitions:
  Banner:
    type: "object"
    required:
    - "app_code"
    - "date_finish"
    - "date_start"
    properties:
      app_code:
        type: "string"
        description: "Код системы"
      date_start:
        type: "string"
        format: "date-time"
        description: "Дата и время начала работ"
      date_finish:
        type: "string"
        format: "date-time"
        description: "Дата и время окончания работ"
      msg:
        type: "string"
        description: "Текст сообщения"
    example:
      msg: "msg"
      date_start: "2000-01-23T04:56:07.000+00:00"
      date_finish: "2000-01-23T04:56:07.000+00:00"
      app_code: "app_code"
